USE [QLThuVien]
GO
/****** Object:  Table [dbo].[books]    Script Date: 2022/05/13 PM 04:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameBook] [nvarchar](255) NULL,
	[image] [varchar](50) NULL,
	[kind] [nvarchar](50) NULL,
	[author] [nvarchar](100) NULL,
	[price] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2022/05/13 PM 04:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](100) NULL,
	[gender] [bit] NULL,
	[birthday] [smalldatetime] NULL,
	[email] [varchar](200) NULL,
	[phone] [varchar](13) NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[debt_sheet]    Script Date: 2022/05/13 PM 04:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[debt_sheet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCus] [int] NULL,
	[collectionDate] [smalldatetime] NULL,
	[debtMoney] [numeric](18, 2) NULL,
	[status] [nvarchar](25) NULL,
	[userId] [int] NULL,
	[createdDate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[order_book]    Script Date: 2022/05/13 PM 04:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_book](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBook] [int] NULL,
	[quantity] [int] NULL,
	[price] [numeric](18, 2) NULL,
	[supplier] [nvarchar](255) NULL,
	[userId] [int] NULL,
	[dateOrder] [smalldatetime] NULL,
	[dateModify] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[receipt]    Script Date: 2022/05/13 PM 04:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCus] [int] NULL,
	[status] [nvarchar](20) NULL,
	[payCus] [numeric](18, 2) NULL,
	[userId] [int] NULL,
	[dateReceipt] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[receipt_detail]    Script Date: 2022/05/13 PM 04:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receipt_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idReceipt] [int] NULL,
	[idBook] [int] NULL,
	[price] [numeric](18, 2) NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[users]    Script Date: 2022/05/13 PM 04:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](20) NULL,
	[password] [varchar](50) NULL,
	[fullName] [nvarchar](100) NULL,
	[type] [bit] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[warehouse]    Script Date: 2022/05/13 PM 04:25:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBook] [int] NULL,
	[totalQuantity] [int] NULL,
	[sold] [int] NULL,
	[idOrder] [int] NULL,
	[dateImport] [smalldatetime] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[books] ON 

INSERT [dbo].[books] ([id], [nameBook], [image], [kind], [author], [price]) VALUES (1, N'Harry Potter and the Half-Blood Prince (Harry Potter  #6)', NULL, N'Science Fiction', N'J.K. Rowling', CAST(40000.00 AS Numeric(18, 2)))
INSERT [dbo].[books] ([id], [nameBook], [image], [kind], [author], [price]) VALUES (2, N'Harry Potter and the Order of the Phoenix (Harry Potter  #5)', NULL, N'Science Fiction', N'J.K. Rowling', CAST(100000.00 AS Numeric(18, 2)))
INSERT [dbo].[books] ([id], [nameBook], [image], [kind], [author], [price]) VALUES (3, N'Harry Potter and the Chamber of Secrets (Harry Potter  #2)', NULL, N'Science Fiction', N'J.K. Rowling', CAST(200000.00 AS Numeric(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[books] OFF
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [fullName], [gender], [birthday], [email], [phone], [address]) VALUES (2424, N'TRẦN THỊ TRÚC LINH', 0, CAST(N'1993-01-23 00:00:00' AS SmallDateTime), N'', N'778610306', N'18 TÊN LỬA, QUẬN BÌNH TÂN, TP. HỒ CHÍ MINH')
INSERT [dbo].[customers] ([id], [fullName], [gender], [birthday], [email], [phone], [address]) VALUES (2425, N'NGUYỄN THỊ DUY THANH', 0, CAST(N'1994-01-25 00:00:00' AS SmallDateTime), N'', N'389195267', N'ẤP 1, MỸ NHƠN, TÂN BỬU, BẾN LỨC, LONG AN')
INSERT [dbo].[customers] ([id], [fullName], [gender], [birthday], [email], [phone], [address]) VALUES (2426, N'PHƯƠNG HỒNG MAI', 0, CAST(N'1999-11-11 00:00:00' AS SmallDateTime), N'', N'908475660', N'681/24/6 ÂU CƠ, TÂN THÀNH, TÂN PHÚ')
GO
SET IDENTITY_INSERT [dbo].[customers] OFF
SET IDENTITY_INSERT [dbo].[debt_sheet] ON 

INSERT [dbo].[debt_sheet] ([id], [idCus], [collectionDate], [debtMoney], [status], [userId], [createdDate]) VALUES (2, 2424, CAST(N'2022-05-16 00:00:00' AS SmallDateTime), CAST(7780000.00 AS Numeric(18, 2)), N'Chờ Trả', 1, CAST(N'2022-05-13 16:15:00' AS SmallDateTime))
INSERT [dbo].[debt_sheet] ([id], [idCus], [collectionDate], [debtMoney], [status], [userId], [createdDate]) VALUES (3, 2441, CAST(N'2022-05-19 00:00:00' AS SmallDateTime), CAST(600000.00 AS Numeric(18, 2)), N'Chờ Trả', 1, CAST(N'2022-05-13 16:24:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[debt_sheet] OFF
SET IDENTITY_INSERT [dbo].[order_book] ON 

INSERT [dbo].[order_book] ([id], [idBook], [quantity], [price], [supplier], [userId], [dateOrder], [dateModify]) VALUES (28, 1, 300, CAST(12000000.00 AS Numeric(18, 2)), N'NXB Tư Pháp', 1, CAST(N'2022-05-12 15:19:00' AS SmallDateTime), CAST(N'2022-05-12 15:19:00' AS SmallDateTime))
INSERT [dbo].[order_book] ([id], [idBook], [quantity], [price], [supplier], [userId], [dateOrder], [dateModify]) VALUES (29, 15, 350, CAST(70000000.00 AS Numeric(18, 2)), N'NXB Công An Nhân Dân', 1, CAST(N'2022-05-12 15:19:00' AS SmallDateTime), CAST(N'2022-05-12 15:19:00' AS SmallDateTime))
INSERT [dbo].[order_book] ([id], [idBook], [quantity], [price], [supplier], [userId], [dateOrder], [dateModify]) VALUES (30, 26, 350, CAST(70000000.00 AS Numeric(18, 2)), N'NXB Tư Pháp', 1, CAST(N'2022-05-12 15:19:00' AS SmallDateTime), CAST(N'2022-05-12 15:19:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[order_book] OFF
SET IDENTITY_INSERT [dbo].[receipt] ON 

INSERT [dbo].[receipt] ([id], [idCus], [status], [payCus], [userId], [dateReceipt]) VALUES (1, 2424, N'Trả Trước', CAST(200000.00 AS Numeric(18, 2)), 1, CAST(N'2022-05-11 15:54:00' AS SmallDateTime))
INSERT [dbo].[receipt] ([id], [idCus], [status], [payCus], [userId], [dateReceipt]) VALUES (2, 2435, N'Hoàn Tất', CAST(300000.00 AS Numeric(18, 2)), 1, CAST(N'2022-05-11 16:15:00' AS SmallDateTime))
INSERT [dbo].[receipt] ([id], [idCus], [status], [payCus], [userId], [dateReceipt]) VALUES (3, 2427, N'Hoàn Tất', CAST(0.00 AS Numeric(18, 2)), 1, CAST(N'2022-05-11 16:17:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[receipt] OFF
SET IDENTITY_INSERT [dbo].[receipt_detail] ON 

INSERT [dbo].[receipt_detail] ([id], [idReceipt], [idBook], [price], [quantity]) VALUES (2, 1, 9, CAST(200000.00 AS Numeric(18, 2)), 1)
INSERT [dbo].[receipt_detail] ([id], [idReceipt], [idBook], [price], [quantity]) VALUES (3, 1, 2, CAST(100000.00 AS Numeric(18, 2)), 1)
INSERT [dbo].[receipt_detail] ([id], [idReceipt], [idBook], [price], [quantity]) VALUES (4, 1, 10, CAST(200000.00 AS Numeric(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[receipt_detail] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [fullName], [type], [status]) VALUES (1, N'hieu', N'test', N'Võ Chí Hiếu', 1, 1)
SET IDENTITY_INSERT [dbo].[users] OFF
SET IDENTITY_INSERT [dbo].[warehouse] ON 

INSERT [dbo].[warehouse] ([id], [idBook], [totalQuantity], [sold], [idOrder], [dateImport]) VALUES (3, 1, 300, 109, 28, CAST(N'2022-05-12 15:19:00' AS SmallDateTime))
INSERT [dbo].[warehouse] ([id], [idBook], [totalQuantity], [sold], [idOrder], [dateImport]) VALUES (4, 15, 350, 53, 29, CAST(N'2022-05-12 15:19:00' AS SmallDateTime))
INSERT [dbo].[warehouse] ([id], [idBook], [totalQuantity], [sold], [idOrder], [dateImport]) VALUES (13, 921, 600, 0, 38, CAST(N'2022-05-13 08:23:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[warehouse] OFF
