<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ManageBook.Properties.Settings.QLThuVienConnectionString"
            connectionString="Data Source=192.168.18.172;Initial Catalog=QLThuVien;User ID=lacty"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>